<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travinavi"
    android:versionCode="3"
    android:versionName="3.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:screenOrientation="portrait"
        android:icon="@drawable/travilogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name="mass.Ranger.Util.MyWifi"
            android:enabled="true" />

        <activity
            android:name="mass.Ranger.Activity.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name="mass.Ranger.Activity.TrackingActivity"
                android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.TrackingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="mass.Ranger.Activity.UserProfileActivity"
                android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.UserProfileActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="mass.Ranger.Activity.LoginActivity"
                android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.LoginActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="mass.Ranger.Activity.RegisterActivity"
                android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.RegisterActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="mass.Ranger.Activity.NavigationActivity"
                android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.NavigationActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
                android:name="mass.Ranger.Activity.ChooseTraceActivity"
                android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ChooseTraceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="mass.Ranger.Activity.NavigationMapActivity">
            <intent-filter>
                <data
                        android:host="navimap.azurewebsites.net"
                        android:scheme="http"
                        android:pathPrefix="/Map/Index">
                </data>

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>


    </application>

</manifest>
